.pcf-container {
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 5%;
  padding: 5px;
  background-color: rgb(53, 160, 247);
  position: relative; /* Add this line */
}

.fluent-provider,
.fui-FluentProvider {
  height: inherit;
  border-radius: inherit;
}

.popover {
  flex-direction: row;
}

.label {
  color: rgb(53, 160, 247);
  font-weight: bolder;
  float: center;
  padding: 10px 15px;
}

.calendar-button-container {
  padding: 10px 15px;
  display: inline-block;
}

.calendar-button-container button {
  padding: 2px 5px;
}

.calendar-icon {
  font-size: 18px;
  color: rgb(10, 99, 172);
}

.selected-dates {
  padding: 10px 15px;
  /* height: 100%; */
}

.selected-dates-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #d6d6d6; /* Adjust the color as needed */
}

.date-list-wrapper {
  display: flex;
  flex-direction: row;
}

.date-list-container {
  min-height: 160px; /* Set a suitable height for the scrollable area */
  max-height: 160px; /* Set a suitable height for the scrollable area */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds container height */
  padding: 10px 15px;
}

.date-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.date-list li {
  margin-bottom: 4px;
  font-size: 14px;
  color: #d6d6d6; /* Adjust the color as needed */
}

.clear-date-ranges {
  margin-top: auto; /* Add some spacing around the button */
  margin-left: auto; /* Add some spacing around the button */
  /*background-color: #ff6347;  Set the background color */
  color: #d6d6d6; /* Set the text color */
  border: none; /* Remove the border */
  border-radius: 4px; /* Add border radius */
  cursor: pointer; /* Show a pointer cursor on hover */
  transition: background-color 0.3s, color 0.3s; /* Add transition effect */
}

.clear-date-ranges button {
  background-color: rgb(10, 99, 172); /* Change background color on hover */
  border: 1px solid #b0cde7;
  font-size: 16px;
  padding: 6px 40px;
}

.clear-date-ranges button:hover {
  background-color: rgb(53, 160, 247); /* Change background color on hover */
}

.clear-date-ranges button:focus {
  background-color: rgb(17, 122, 207); /* Change background color on hover */
}

.clear-date-ranges button:active {
  background-color: #b0cde7; /* Change background color on hover */
}

/* Customisations */

/* Scrollbar */
/* Customize the scrollbar track */
.date-list-container::-webkit-scrollbar {
  width: 10px;
}

/* Customize the scrollbar thumb */
.date-list-container::-webkit-scrollbar-thumb {
  background-color: rgb(10, 99, 172);
  border-radius: 5px;
}

/* Customize the scrollbar thumb on hover */
.date-list-container::-webkit-scrollbar-thumb:hover {
  background-color: rgb(53, 160, 247);
}

/* Customize the scrollbar track on hover */
.date-list-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Customize the scrollbar track on drag */
.date-list-container::-webkit-scrollbar-track:active {
  background-color: #b0cde7;
}
